<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.thepricingpeople.petsshareddevicedemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetsSharedDeviceDemo">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Pets Shared Device Demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Intent filter to capture System Browser or Authenticator calling back to our app after sign-in-->
        <activity
            android:name="com.microsoft.identity.client.BrowserTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="msauth"
                    android:host="uk.co.thepricingpeople.petsshareddevicedemo"
                    android:path="/FVIySMxL9aRzt0n36qemJz5HkYo=" />
            </intent-filter>
        </activity>
    </application>

</manifest>